<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.processes.ag_bpmn_v1.mapper.ProcessMapper">
    <!--        <resultMap id="BaseResultMap" type="com.processes.ag_bpmn_v1.entity.Login">-->
    <!--            <result column="username" jdbcType="VARCHAR" property="username" />-->
    <!--            <result column="password" jdbcType="VARCHAR" property="password" />-->
    <!--        </resultMap>-->

    <!--    查询所有流程信息-->

    <resultMap id="BaseResultMap" type="com.processes.ag_bpmn_v1.entity.Process">
        <id column="KEY_" jdbcType="VARCHAR" property="key" />
        <result column="NAME_" jdbcType="VARCHAR" property="name" />
        <result column="VERSION_" jdbcType="CHAR" property="version" />
        <result column="REV_" jdbcType="INTEGER" property="rev" />
        <result column="CATEGORY_" jdbcType="VARCHAR" property="category" />
        <result column="DEPLOY_TIME_" jdbcType="TIMESTAMP" property="deployTime" />
    </resultMap>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT
            act_re_procdef.KEY_,
            act_re_procdef.NAME_,
            act_re_procdef.VERSION_ ,
            act_re_procdef.REV_,
            act_re_deployment.CATEGORY_,
            act_re_deployment.DEPLOY_TIME_
        FROM
            act_re_procdef
                LEFT JOIN act_re_deployment ON act_re_procdef.DEPLOYMENT_ID_ = act_re_deployment.ID_
    </select>


</mapper>